@{
    ViewData["Title"] = "Home Page";
}
<div style="margin-top: 20%;"></div>
<div class="text-center">
    <h1 class="text-primary"><strong>Вітаємо на сайті студпарламенту факультету комп'ютерних наук та кібернетики!</strong></h1>
</div>
