@model ParliamentDomain.Model.Location

@{
    ViewData["Title"] = "Create";
}

<h3>Створити локацію</h3>
<hr />

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactId" class="control-label"></label>
                <select asp-for="ContactId" class ="form-control" asp-items="ViewBag.ContactId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GoogleMapsLink" class="control-label"></label>
                <input asp-for="GoogleMapsLink" class="form-control" />
                <span asp-validation-for="GoogleMapsLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-sm-12 d-flex justify-content-end">
                    <input type="submit" value="Створити" class="btn right btn-primary " />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-danger">Назад до переліку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
