@model ParliamentInfrastructure.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Add user";
}

<div class="d-flex justify-content-center">
    <h2>Додати користувача</h2>
</div>
<div class="d-flex justify-content-center">

	<div class="card col-md-6">
		<div class="card-content">
			<div class="card-body">
				<form class="form form-horizontal" method="post" asp-controller="Account" asp-action="AddUser">
					<div class="form-body row">
						<div class="col-md-4 text-end">
							<label asp-for="Email"></label>
							<small class="text-danger">*</small>
						</div>
						<div class="col-md-8 form-group">
							<input asp-for="Email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="example@gmail.com">
							<div class="invalid-feedback">
								<i class="bx bx-radio-circle"></i>
								<span asp-validation-for="Email"></span>
							</div>
						</div>
						<input type="hidden" name="Password" value="Qwerty_1" />
						<input type="hidden" name="PasswordConfirm" value="Qwerty_1" />
						<hr class="table-group-divider" />
						<div class="col-md-4 text-end">
							<label asp-for="FullName"></label>
							<small class="text-danger">*</small>
						</div>
						<div class="col-md-8 form-group">
							<input asp-for="FullName" class="form-control @(ViewData.ModelState["FullName"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Введіть прізвище ім'я	">
							<div class="invalid-feedback">
								<i class="bx bx-radio-circle"></i>
								<span asp-validation-for="FullName"></span>
							</div>
						</div>
						<div class="col-md-4 text-end">
							<label asp-for="University"></label>
							<small class="text-danger">*</small>
						</div>
						<div class="col-md-8 form-group">
							<input asp-for="University" class="form-control @(ViewData.ModelState["University"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Введіть назву університету">
							<div class="invalid-feedback">
								<i class="bx bx-radio-circle"></i>
								<span asp-validation-for="University"></span>
							</div>
						</div>
						<div class="col-md-4 text-end">
							<label asp-for="Faculty"></label>
							<small class="text-danger">*</small>
						</div>
						<div class="col-md-8 form-group">
							<input asp-for="Faculty" class="form-control @(ViewData.ModelState["Faculty"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Введіть назву факультету">
							<div class="invalid-feedback">
								<i class="bx bx-radio-circle"></i>
								<span asp-validation-for="Faculty"></span>
							</div>
						</div>
						<div class="d-flex justify-content-end">
							<input class="btn btn-primary" type="submit" value="Сформувати QR-код" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
