@model ParliamentInfrastructure.ViewModels.ProfileViewModel

@{
	ViewData["Title"] = "Profile";
}

<div class="d-flex justify-content-center">
	<div class="card col-md-6">
		<div class="card-header">
			<h2 class="card-title">Профіль</h2>
		</div>
		<div class="card-content">
			<div class="card-body">
				<form class="form form-horizontal" method="post" asp-controller="Account" asp-action="Edit">
					<div class="form-body row">
						<div class="col-md-4 text-end">
							<label asp-for="FullName"></label>
							<small class="text-danger">*</small>
						</div>
						<div class="col-md-8 form-group">
							<input type="text" class="form-control" asp-for="FullName" placeholder="Прізвище Ім'я" />
							<span asp-validation-for="FullName"></span>
						</div>
						<div class="col-md-4 text-end">
							<label asp-for="Email"></label>
							<small class="text-danger">*</small>
						</div>
						<div class="col-md-8 form-group">
							<input type="text" class="form-control" asp-for="Email" placeholder="example@gmail.com" readonly="readonly"/>
							<span asp-validation-for="Email"></span>
						</div>
						<div class="col-md-4 text-end">
							<label asp-for="University"></label>
							<small class="text-danger">*</small>
						</div>
						<div class="col-md-8 form-group">
							<input type="text" class="form-control" asp-for="University" placeholder="Введіть назву університету" />
						</div>
						<div class="col-md-4 text-end">
							<label asp-for="Faculty"></label>
							<small class="text-danger">*</small>
						</div>
						<div class="col-md-8 form-group">
							<input type="text" class="form-control" asp-for="Faculty" placeholder="Введіть назву факультету" />
						</div>
						<input type="hidden" asp-for="Id" />
						<div class="d-flex justify-content-end">
							<a asp-action="ChangePassword" class="btn btn-outline-danger">Змінити пароль</a>
							<input class="btn btn-primary" type="submit" value="Зберегти зміни" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

