@model ParliamentInfrastructure.ViewModels.ProfileViewModel

<div class="row">
	<div class="col-md-5">
		<div class="form-group">
			<label for="@Html.DisplayNameFor(model => model.FullName)"></label>
			<input type="text" class="form-control" value="@Html.DisplayFor(model => model.FullName)"/>
		</div>
	</div>
</div>