@model ParliamentDomain.Model.Event

@{
    ViewData["Title"] = "Edit";
}

<h3>Змінити подію</h3>
<hr />

<form asp-action="Edit" class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <small class="text-danger">*</small>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DepartmentId" class="control-label"></label>
            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LocationId" class="control-label"></label>
            <small class="text-muted"><i>Якщо не знайшли, створіть нову локацію</i></small>
            <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
            <span asp-validation-for="LocationId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-secondary" asp-controller="Locations" asp-action="Create" target="_blank">Створити нову локацію</a>
        </div>
        <div class="form-group">
            <label asp-for="AccessType" class="control-label"></label>
            <small class="text-danger">*</small>
            <input asp-for="AccessType" class="form-control" />
            <span asp-validation-for="AccessType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <small class="text-danger">*</small>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <small class="text-danger">*</small>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-8">
        <label asp-for="Description" class="control-label"></label>
        <small class="text-danger">*</small>
        <textarea rows="20" asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <div class="col-sm-12 d-flex justify-content-end">
            <input type="submit" value="Змінити" class="btn right btn-primary " />
        </div>
    </div>
</form>

<a class="btn btn-outline-secondary" href="javascript:void(0);" onclick="window.history.back();">Повернутися</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
