@model IEnumerable<ParliamentInfrastructure.Models.DefaultUser>

<h2>Список користувачів</h2>

<table class="table">
	@foreach(var user in Model)
	{
		<tr>
			<td>@user.Email</td>
			<td>
				<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userId="@user.Id">
					Права доступу
				</a>
			</td>
		</tr>
	}
</table>

<a asp-action="AddUser" asp-controller="Account"
   class="btn btn-primary rounded-circle"
   style="position: fixed; bottom: 30px; right: 30px; width: 60px; height: 60px; font-size: 30px; display: flex; align-items: center; justify-content: center; box-shadow: 0 4px 6px rgba(0,0,0,0.3);"
   data-bs-toggle="tooltip"
   data-bs-placement="left"
   title="Додати користувачів">
	+
</a>

<script>
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
	tooltipTriggerList.forEach(function (tooltipTriggerEl) {
		new bootstrap.Tooltip(tooltipTriggerEl);
	});
</script>
