@model ParliamentDomain.Model.Department

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>Департамент</h4>
    <hr />
    <div class="btn-group mb-2">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Змінити</a>
        <a asp-action="Index" class="btn btn-secondary">До усіх департаментів</a>
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller = "Contacts" asp-action = "Details" asp-route-id = "@Model?.ContactId">@Html.DisplayFor(model => model.Contact.Email)</a>
        </dd>
        <dt class = "col-sm-2">
            Новини департаменту
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller = "News" asp-action = "Index" asp-route-departmentId = "@Model?.Id">Переглянути</a>
        </dd>
        <dt class="col-sm-2">
            Події від департаменту
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Events" asp-action="Index" asp-route-departmentId="@Model?.Id">Переглянути</a>
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Новини департаменту
                    </h4>
                    <p>
                        Останні новини
                    </p>
                </div>
                <div class="card-body">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item">

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Події департаменту
                    </h4>
                    <p>
                        Найближчі події
                    </p>
                </div>
                <div class="card-body">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
