@model ParliamentDomain.Model.Department

@{
    ViewData["Title"] = "Edit";
}

<h3>Змінити департамент</h3>
<hr />


<form asp-action="Edit" class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <small class="text-danger">*</small>
            <input asp-for="Name" class="form-control" placeholder="Введіть назву" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContactId" class="control-label"></label>
            <small class="text-danger">*</small>
            <small class="text-muted"><i>Оберіть наявний або створіть новий</i></small>
            <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId"></select>
            <span asp-validation-for="ContactId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-secondary" asp-controller="Contacts" asp-action="Create" target="_blank">Створити новий контакт</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea rows="20" asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="col-sm-12 d-flex justify-content-end">
        <input type="submit" value="Зберегти" class="btn right btn-primary " />
    </div>
</form>


<a class="btn btn-outline-danger" href="javascript:void(0);" onclick="window.history.back();">Повернутися</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
