@model IEnumerable<ParliamentDomain.Model.News>
@{
    ViewData["Title"] = "News";
}

<h1>Новини</h1>

<p>
    <div class="container">
        @{
            if (User.IsInRole("admin") || User.IsInRole("worker"))
            {
                <a asp-action="Create" class="btn btn-primary">Створити новину</a>
            }
        }
    </div>
</p>
<hr/>
<section id="content-types">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-md-6 d-flex justify-content-center">
                    @await Component.InvokeAsync("NewsCardComponent", new NewsCardViewModel(item.Id, item.Title, (item.Department is not null)? item.Department.Name : null, item.PublicationDate, item.ShortDescription))
                </div>
            }
        </div>
    </div>

</section>
